name: Test & Upload Report
on:
  push:
    branches: [behave]
  workflow_dispatch:
    inputs:
      PROJECT_KEY:
        description: The key of project
        type: string
        required: true # require project key
      TEST_EXECUTION_KEY:
        description: The key of test execution
        type: string
        required: false # optional test execution key
  schedule:
    - cron: "0 0 * * *"
jobs:
  testng-test-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Run test & generate report
        run: |
          cd behave
          pip install --upgrade pip
          pip3 install behave
          mkdir -p report
          behave --format json --out report/behave_report.json

      - name: Upload report to AgileTest.App
        env:
          AGILETEST_BASE_URL: ${{ secrets.AGILETEST_BASE_URL }}
          AGILETEST_CLIENT_TOKEN: ${{ secrets.AGILETEST_CLIENT_TOKEN }}
        run: |
          # Define API endpoint and authorization token

          # ls -R $PWD/*
          # ls -la ./testng/target/surefire-reports/*.xml
          # cd target/surefire-reports && pwd
          # ./testng/target/surefire-reports/testng-results.xml

          # Upload report files
          echo "Uploading file to $AGILETEST_BASE_URL"
          echo "Uploading file to ${{ secrets.AGILETEST_BASE_URL }}"

          cd report

          curl -X POST "${{ secrets.AGILETEST_BASE_URL }}/rest/agiletest/1.0/test-executions/automation/behave?projectKey=${{ inputs.PROJECT_KEY }}&testExecutionKey=${{ inputs.TEST_EXECUTION_KEY }}&milestoneId=$milestoneId&fixVersions=$fixVersions&revision=$revision&testEnvironments=$testEnvironments&testPlanKeys=$testPlanKeys" \
            -H "Authorization: Bearer ${{ secrets.AGILETEST_CLIENT_TOKEN }}" \
            -H "Content-Type: application/json" \
            --data-binary "@behave_report.json"
      # After-Run Script
      - name: After-Run Script
        env:
          AGILETEST_BASE_URL: ${{ secrets.AGILETEST_BASE_URL }}
          AGILETEST_CLIENT_TOKEN: ${{ secrets.AGILETEST_CLIENT_TOKEN }}
        if: always() # Ensures this runs regardless of success/failure of previous steps
        run: |
          if [ "${{ job.status }}" == "success" ]; then
            RESULT="success"
          else
            RESULT="failed"
          fi

          curl -X POST -H "Content-Type: application/json" -H "Authorization:Bearer ${{ secrets.AGILETEST_CLIENT_TOKEN }}" \
            --data '{ "repository": "'"${{ github.repository }}"'", "runId": "'"${{ github.run_id }}"'", "tool":"github", "result":"'"$RESULT"'" }' \
            "${{ secrets.AGILETEST_BASE_URL }}/rest/agiletest/1.0/test-executions/${{ inputs.TEST_EXECUTION_KEY }}/pipeline/history?projectKey=${{ inputs.PROJECT_KEY }}"

      - name: Upload report to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: testng-report
          path: ./behave/report/behave_report.json
