name: Test & Upload Report
on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      PROJECT_KEY:
        description: The key of project
        type: string
        required: true # require project key
      TEST_EXECUTION_KEY:
        description: The key of test execution
        type: string
        required: false # optional test execution key
  schedule:
    - cron: "0 0 * * *"
jobs:
  testng-test-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Run test & generate report
        run: |
          cd testng
          mvn clean install
          mvn test

      - name: Upload report to AgileTest.App
        env:
          AGILETEST_BASE_URL: ${{ secrets.AGILETEST_BASE_URL }}
          AGILETEST_CLIENT_TOKEN: ${{ secrets.AGILETEST_CLIENT_TOKEN }}
        run: |
          # Define API endpoint and authorization token
          API_URL="$AGILETEST_BASE_URL/rest/agiletest/1.0/test-executions/automation/testng?projectKey=${{ inputs.PROJECTKEY }}&testExecutionKey=${{ inputs.TEST_EXECUTION_KEY }}&milestoneId=$milestoneId&fixVersions=$fixVersions&revision=$revision&testEnvironments=$testEnvironments&testPlanKeys=$testPlanKeys"

          # ls -R $PWD/*
          # ls -la ./testng/target/surefire-reports/*.xml
          # cd target/surefire-reports && pwd
          # ./testng/target/surefire-reports/testng-results.xml

          # Upload report files
          echo "Uploading $file to $API_URL"
            curl -X POST "$API_URL" \
              -H "Authorization: Bearer $AGILETEST_CLIENT_TOKEN" \
              -H "Content-Type: application/xml" \
              --data-binary "@./testng/target/surefire-reports/testng-results.xml"
      # After-Run Script
      - name: After-Run Script
        env:
          AGILETEST_BASE_URL: ${{ secrets.AGILETEST_BASE_URL }}
          AGILETEST_CLIENT_TOKEN: ${{ secrets.AGILETEST_CLIENT_TOKEN }}
        if: always() # Ensures this runs regardless of success/failure of previous steps
        run: |
          if [ "${{ job.status }}" == "success" ]; then
            RESULT="success"
          else
            RESULT="failed"
          fi

          curl -X POST -H "Content-Type: application/json" -H "Authorization:Bearer $AGILETEST_CLIENT_TOKEN" \
            --data '{ "repository": "'"${{ github.repository }}"'", "runId": "'"${{ github.run_id }}"'", "tool":"github", "result":"'"$RESULT"'" }' \
            "$AGILETEST_BASE_URL/rest/agiletest/1.0/test-executions/${{ inputs.TEST_EXECUTION_KEY }}/pipeline/history?projectKey=${{ inputs.PROJECTKEY }}"

      - name: Upload report to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: testng-report
          path: ./testng/target/surefire-reports/testng-results.xml
